[submodule "chia-blockchain-gui"]
	path = chia-blockchain-gui
	url = https://github.com/Pianpool-Technology-Group/pianpool-gui.git 
	branch = 1.1.7
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
